.form {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .step {
        .second {

            h3,
            span {
                color: var(--Dark-Red, #B14E31);
                ;
            }
        }
    }

    .wholeArea {
        width: 70%;

        display: flex;
        justify-content: center;

        background-color: #ffffff;
        border-radius: 15px;

        .info {
            width: 70%;

            margin-top: 55px;
            margin-bottom: 120px;

            .infoTitle {
                width: 100%;
                border-bottom: 1px solid #6F6152;

                h2 {
                    color: var(--Dark-grey, #6F6152);
                    font-family: Belleza;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    margin-bottom: 10px;
                }
            }

            .option {
                width: 100%;
                display: flex;
                justify-content: end;
                gap: 4%;

                margin-top: 15px;

                .account {
                    border-bottom: 1px solid #B14E31;
                    cursor: pointer;

                    span {
                        display: block;

                        color: var(--Dark-Red, #B14E31);
                        font-family: Belleza;
                        font-size: 0.9rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        margin-bottom: 3px;
                    }
                }

                .signIn {
                    cursor: pointer;

                    span {
                        display: block;

                        color: var(--Dark-grey, #6F6152);
                        font-family: Belleza;
                        font-size: 0.9rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        margin-bottom: 3px;
                    }

                }
            }

            .formTable {
                width: 100%;

                #accountForm {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                    row-gap: 9%;
                    column-gap: 15%;
                    width: 100%;

                    margin-top: 30px;
                }

                .formField {
                    display: flex;
                    flex-direction: column;

                    label {
                        color: var(--Dark-grey, #6F6152);
                        font-family: Belleza;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        margin-bottom: 8px;
                    }

                    input {
                        border: 1px solid var(--Dark-grey, #6F6152);
                        ;
                        border-radius: 5px;
                        padding: 7px;

                        font-family: Belleza;
                        font-size: 1rem;
                    }

                }

                .formCheck {
                    grid-column: 1 / span 2;
                    border: 1px solid #6F6152;
                    border-radius: 5px;

                    padding: 10px;
                    display: flex;
                    align-items: center;

                    label {
                        color: var(--Dark-grey, #6F6152);
                        font-family: Gilda Display;
                        font-size: 0.9rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        margin-left: 3%;

                    }
                }

                .privacy{
                        border: 1px solid #B14E31;
                        background-color: #B14E31;
                    label{
                        color: #FFF;
                    }
                }

            }

        }
    }
}