.hero{
    height: 100vh;
    width: 100%;
    background: url(../../assets/home-bg.jpg) no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 96px;

    .top{
        height: 85vh;
        width: 63%;
        display: flex;
        gap: 88px;
    
        .pic{
            
            width: 40.3%;

            img{
                width: 100%;
                height: auto;
            }
            
        }
    }
}