.navbar {
    height: 96px;
    width: 100%;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .item a{
        color: white;
    }
    
    .wrapper {
        height: 55px;
        padding-top: 1.2rem;
        padding-left: 4.56rem;
        padding-right: 4.25rem;
        display: flex;
        justify-content: space-between;

        .left {
            display: flex;
            gap: 2.12rem;

            .logo {
                font-family: Belleza;
                font-size: 3rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.09rem;
                white-space: nowrap;

            }

            .menu {
                display: flex;
                align-items: center;
                gap: 2rem;

                .item {
                    color: #060606;
                    font-family: Belleza;
                    font-size: 0.9375rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    position: relative;
                }
                .item::after{
                    position: absolute;
                    content: '';
                    bottom: -5px;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background: white;
                    transition: width 0.3s ease;

                }
                .item.active::after{
                    width: 100%;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;

            .icons {
                display: flex;
                gap: 0.5rem;
                cursor: pointer;

                .cartIcon{
                    position: relative;
                    span{
                        font-size: 12px;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background-color: #BDA18C;
                        color: white;
                        position: absolute;
                        right: -5px;
                        top:-5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }
            }
        }
    }
}