.navbar {
    height: 96px;
    width: 100%;
    color: white;

    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;



    .item a {
        color: white;
    }

    .wrapper {
        height: 55px;
        padding-top: 1.2rem;
        padding-left: 4.56rem;
        padding-right: 4.25rem;
        display: flex;
        justify-content: space-between;

        .left {
            display: flex;
            gap: 2.12rem;

            .logo {
                font-family: Belleza;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.09rem;
                white-space: nowrap;

                z-index: 3000;

            }

            .menu {
                display: flex;
                align-items: center;
                gap: 2rem;

                .item {
                    color: #060606;
                    font-family: Belleza;
                    font-size: 0.9375rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    position: relative;
                }

                .item::after {
                    position: absolute;
                    content: '';
                    bottom: -5px;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background: white;
                    transition: width 0.3s ease;

                }

                .item.active::after,
                .item:hover::after {
                    width: 100%;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;

            .icons {
                display: flex;
                gap: 0.5rem;
                cursor: pointer;

                .cartIcon {
                    position: relative;
                    z-index: 3000;

                    span {
                        font-size: 12px;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background-color: #BDA18C;
                        color: white;
                        position: absolute;
                        right: -5px;
                        top: -5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }
            }
        }
    }

    .wrapper.active {

        background: #F3F0ED;
        color: #BDA18C;

        a {
            color: #BDA18C;
        }

        .item::after,
        .item.active::after,
        .item:hover::after {
            background: #BDA18C;
        }


    }

    .toggleNavbar,
    .closeNavbar {
        display: none;
    }

    .mobileMenu{
        display: none;

    }

}

@media (min-width: 760px) and (max-width:1024.98px) {
    .navbar {
        .wrapper {
            padding-left: 2rem;
            padding-right: 2.5rem;
        }
    }
}

@media (max-width:759.98px) {
    .navbar {

        .toggleNavbar{
            display: block;
        }
        .menuIcon{
            
            cursor: pointer;
        }

        .wrapper {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 0;
            align-items: center;


            .left {

                .logo{
                    font-size: 1.8rem;
                }
                .logo.active {
                    color:#BDA18C;
                }

                .menu {
                    display: none;
                }
            }

            .right {
                gap: 10px;
                .icons {

                    .hiddenIcon {
                        display: none;
                    }
                }
            }
            .cartIcon.active {
                svg {
                    color: #BDA18C;
                }
            }
            
            .mobileMenu{
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #F3F0ED;
                z-index: 2000;

                padding: 13px 32px;

                .closeNavbar{
                
                    display: block;
                    display: flex;
                    justify-content: right;
                .closeIcon{
                    color: #BDA18C;
                    cursor: pointer;
                }
            }

            .mobileList{
                display: flex;
                flex-direction: column;

                margin-top: 60px;
                gap: 25px;
                

                .mobileItem{
                    color: #BDA18C;
                    a{
                        color: #BDA18C;
                        font-size: 1.2rem;
                    }
                    span{
                        font-size: 1.2rem;
                    }
                }
                .login{
                    margin-top: 50px;
                }
            }
            }
        }
    }
}