.gift {
    width: 100%;
    height: 800px;

    // background-color: brown;
    .container {
        width: 100%;
        height: 600px;
        background-color: #CAB4A3;

        display: flex;
        justify-content: space-between;

        margin-bottom: 100px;


        .left {
            flex-basis: 60%;

            display: flex;
            align-items: center;
            gap: 10%;


            .frame {
                width: 25vw;
                height: 36vw; //設成vw保持比例
                max-height: 600px;
                border-radius: 300px 300px 0px 0px;
                background-image: url(../../assets/gift.png);
                background-position: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                margin-left: 15%;
            }

        }

        .center {
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 36vw;
            padding-bottom: 7%;



            .top {
                margin-bottom: 15%;
                margin-right: 10%;

                h3 {

                    color: white;
                    font-family: Gilda Display;
                    font-size: 4vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                }
            }

            .bottom {

                display: flex;

                flex-direction: column;
                gap: 30px;


                p:nth-child(1) {
                    color: white;
                    font-family: Noto Serif TC;
                    font-size: 1.15vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                p:nth-child(2) {
                    color: #FFF;
                    font-family: Belleza;
                    font-size: 1.35vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                }
            }
        }

        .right {
            display: flex;

            flex-direction: column;
            justify-content: center;

            flex-basis: 30%;

            margin-right: 10%;

            .first {
                margin-top: 10%;
                width: 20vw;
                height: 15vw;
                background-image: url(../../assets/gift2.jpg);
                background-position: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;


            }

            .second {
                align-self: flex-end;

                width: 17vw;
                height: 13vw;
                background-image: url(../../assets/gift3.jpeg);
                background-position: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                margin-top: -50px;
            }


        }
    }
}